<div class="container">
  <h1 [translate]="'s1_header'">künstlerisch</h1>

  <div class="row">
    <div class="col-sm-4">
      <app-image-view src="/assets/images/stage1/luis_seiwald.jpg"></app-image-view>
    </div>
    <p class="col-sm-8" [translate]="'s1_sh1_p1'">
      Luis Seiwald, geboren 1969 in Bruneck, absolvierte seine Ausbildung an der Akademie der Schönen Künste in Urbino.
      Er unterrichtet am Kunstgymnasium Bruneck und lebt in Pichl, Gsies (Südtirol/Italien).
      Von 1977 bis 2015 gehörte er zum Künstler-Duo „ARTbrothers Kraxentrouga”, welches sich mit provokanten Aktionen
      zum Zeitgeschehen äußerte. Künstlerisch beschäftigt er sich mit verschiedenen Formen und Techniken,
      von Malerei zu Keramik, über Landart und Performance bis hin zu Schmuck und Grafik.
      Für Aufsehen sorgte 2020 die Installation „Wir Erde” in Innichen.
    </p>
  </div>

  <h2 [translate]="'s1_subheader2'">gestaltet</h2>
  <p [translate]="'s1_sh2_p1'">
    „Was gibt es Wichtigeres und Heiligeres als miteinander in Ein-Klang zu sein?
    Musik hat in Toblach 200-jährige Geschichte geschrieben und wird weiterhin Geschichte schreiben.
    Die neue Musikmeile besteht aus sechs Einzelteilen, die zusammen das Wappen der Musikkapelle ergeben.
    Jede einzelne Stele erzählt eine Facette des musikalischen Lebens des Dorfes.
    Jede steht für sich und ist doch ein Teil des Ganzen, so wie jede*r Musikant*in für sich spielt und nur
    in der Gemeinschaft das Universum zum Klingen bringen kann.
    Möge Toblach für immer auf dieser allumfassenden Magie- und Harmoniewelle in die Zukunft klingen.”
  </p>
  <p [translate]="'s1_sh2_p2'">
    Luis Seiwald (Künstler)
  </p>

  <h2 [translate]="'s1_subheader3'">entstehend</h2>
  <div class="row">
    <div class="col-sm-6">
      <app-image-view src="/assets/images/stage1/entstehend_1.jpg" caption="{{translation.get('s1_img1_caption') | async}}"></app-image-view>
    </div>
    <div class="col-sm-6">
      <app-image-view src="/assets/images/stage1/entstehend_2.jpg" caption="{{translation.get('s1_img2_caption') | async}}"></app-image-view>
    </div>
  </div>

</div>
