<div class="container">
  <h1>Station 1 -Idee & Umsetzung</h1>
  <h2>gestaltet</h2>
  <p>
    ,, ,Gott schuf die Welt aus dem Klang’ (Ernst Joachim Berendt)
    Was gibt es Wichtigeres und Heiligeres als miteinander in Ein-Klang zu sein?
    Musik hat in Toblach 200-jährige Geschichte geschrieben und wird weiterhin Geschichte schreiben.
    Die neue Musikmeile besteht aus sechs Einzelteilen, die zusammen das Wappen der Musikkapelle ergeben. Jede einzelne
    Stele erzählt eine Facette des musikalischen Lebens des Dorfes.
    Jede steht für sich und ist doch ein Teil des Ganzen, so wie jede*r Musikant*in für sich spielt und nur in der
    Gemeinschaft das Universum zum Klingen bringen kann.
    Möge Toblach für immer auf dieser allumfassenden Magie- und Harmoniewelle in die Zukunft klingen.”
  </p>


  <h2>biografisch</h2>

  <p>
    Luis Seiwald, geboren 1969 in Bruneck, absolvierte seine Ausbildung an der Akademie der Schönen Künste in Urbino. Er
    unterrichtet am Kunstgymnasium Bruneck und lebt in Pichl, Gsies (Südtirol/Italien).
    Von 1977-2015 gehörte er zum Künstler-Duo ,,ARTbrothers Kraxentrouga”, welches sich mit provokanten Aktionen zum
    Zeitgeschehen äußerte. Künstlerisch beschäftigt er sich mit verschiedenen Formen und Techniken, von Malerei zu
    Keramik, über Landart und Performance bis hin zu Schmuck und Grafik. Für Aufsehen sorgte 2020 die Installation ”Wir
    Erde” in Innichen.

  </p>


  <h2>entstehend</h2>

  <p>
    Work in Progress Fotostrecke: Luis beim Zeichnen, Kartonmodelle klein (Handy), Laser beim Stahlschneiden,
    Beschriftung (Matthias) ev. fertige Stele

    Fotos fehlen hier z.T. noch, das Foto von Luis sollte mit dem der Kapelle zusammengebracht werden (irgendwie)

    Work in Progress Fotostrecke: Luis beim Zeichnen, Kartonmodelle klein (Handy), Laser beim Stahlschneiden,
    Beschriftung (Matthias) ev. fertige Stele

    Fotos fehlen hier z.T. noch, das Foto von Luis sollte mit dem der Kapelle zusammengebracht werden (irgendwie)
  </p>

</div>
