<div class="container">
  <h1 [translate]="'s1_header'"></h1>
  <!--<h2 [translate]="'s1_subheader1'"></h2>-->
  <p [translate]="'s2_p1'"></p>

  <h2 [translate]="'s2_subheader2'"></h2>

  <div class="row">
    <div class="col-sm-4">
      <app-image-view src="/assets/images/stage1/luis_seiwald.jpg"></app-image-view>
    </div>

    <p class="col-sm-8" [translate]="'s2_seiwald'"></p>
  </div>


<!--
  <h2 [translate]="'s2_subheader3'">entstehend</h2>

  <p class="todo" >
    Work in Progress Fotostrecke: Luis beim Zeichnen, Kartonmodelle klein (Handy), Laser beim Stahlschneiden,
    Beschriftung (Matthias) ev. fertige Stele

    Fotos fehlen hier z.T. noch, das Foto von Luis sollte mit dem der Kapelle zusammengebracht werden (irgendwie)

    Work in Progress Fotostrecke: Luis beim Zeichnen, Kartonmodelle klein (Handy), Laser beim Stahlschneiden,
    Beschriftung (Matthias) ev. fertige Stele

    Fotos fehlen hier z.T. noch, das Foto von Luis sollte mit dem der Kapelle zusammengebracht werden (irgendwie)
  </p>

</div>
-->
