<div class="container">
  <h1>Vorweg</h1>
  <h2>unterwegs</h2>
  <p>200 Jahre Musikkapelle, 200 Jahre gemeinsam unterwegs - als Kapelle, für die Dorfgemeinschaft, im Dorf und
    außerhalb.
    Diesem besonderen Jubiläum ist die Toblacher Musikmeile gewidmet. So wie die Kapelle bei verschiedenen Anlässen
    durch
    das Dorf marschiert, an verschiedenen Plätzen Halt macht und spielt, so sind auch Sie eingeladen, eben dieses zu
    tun.
    Sie müssen natürlich nicht marschieren, sondern können auf den musikalischen Spuren wandeln und der wechselvollen
    (Musik-)Geschichte durch das Dorf folgen.


  </p>
  <p>Im Mittelpunkt steht die Musikkapelle Toblach, ihre geschichtliche, aber vor allem ihre musikalische Entwicklung
    als
    Verein und Blasorchester. Und daneben - oder besser gesagt damit verwoben - das Dorf, mit dem die Kapelle untrennbar
    verbunden ist.
    Ausgehend vom Pavillon und dem Probelokal begegnet man dem Haus des Gründers und weiteren Orten, die für die
    jährliche
    Tätigkeit der Musikkapelle stehen, wie der Kirche und dem Rathaus.
    Bevor die Meile am Kulturzentrum endet, wird auch die Beziehung zwischen Tourismus und Musik(kapelle)
    angesprochen.</p>
  <p>Jede Stele (Tafel) stellt einen Teil des Logos der Musikkapelle dar. Hinter den QR-Codes gibt es
    Zusatzinformationen
    oder Bild- und Tonmaterial, welches Einblicke ins Vereinsleben ermöglicht.</p>
  <p>Hauptquellen für vorliegende Broschüre sind die Chronikbücher, Aufzeichnungen aus dem Archiv der Musikkapelle und
    die
    beiden bestehenden Festschriften.</p>
  <p>Machen Sie sich auf den Weg durch 200 Jahre Musik- und Dorfgeschichte. Vielleicht treffen Sie ja auf den einen oder
    die andere Musikant*in. Oder besser noch - die gesamte Musikkapelle. Viel Glück und einen schönen Spaziergang!</p>
  <p>Ihre Musikkapelle Toblach 2021</p>

<h1>
  ___________________________________________________________________

  FOTO BESCHRIFTETES LOGO - Ev. WEG? / ZEICHNUNG LUIS Dorfplan???
  Hier noch nicht klar - das wäre das Vorwort.</h1>


</div>
