<div class="container">
  <h1>Station 2 - gestern & heute</h1>

  <h2>historisch</h2>

  <p>
    Mit dem Jahr 1821 beginnt die Geschichte der Musikkapelle Toblach. Ihren Ursprung hat sie in der Kirchenmusik. Erste
    Belege über Kirchenchor und Kirchenorgel stammen aus dem Jahr 1597. Meist besorgte der Schulmeister sowohl das
    Orgelspiel als auch das Leiten des Chores und die Ausbildung der jungen Sänger. Namentlich sei hier Johannes Brand
    aus Niederdorf genannt (von 1769 - 1800 Lehrer in Toblach). Aus seiner Zeit findet man den ersten schriftlichen
    Hinweis auf ein Kirchenorchester, bestehend aus zwei Violinen, einem Violoncello, zwei Trompeten, zwei Hörnern und
    einem Paukenpaar, das bei hohen Festtagen spielt.

    Um 1800 wird von Schützen berichtet, die die kirchlichen Prozessionen mit Schwegeln und Trommeln begleitet haben
    sollen. Als Vorbild der Musikkapellen sind auch die kaiserlichen Regimentsmusiken zu nennen. Sie treten in dieser
    Zeit üblicherweise mit zwei Oboen, zwei Klarinetten, zwei Hörnern und zwei Fagotten auf. Zu diesen Regimentsmusiken
    kommt die “Türkische Musik” hinzu, welche
  </p>

</div>

<app-historic-view [historicEntries]="historicEntries"></app-historic-view>

<!--
  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie"></div>
      <div class="cd-timeline-content">
        <h2>1821</h2>
        <p>Der 14-jährige Bindter-Sohn Sebastian Baur gründet eine 10-köpfige „Musikbande“, deren Aufgabe es ist, die
          Schützenkompanie bei Prozessionen und beim Aufmarsch zum Schießstand zu begleiten. Die Besetzung umfasst
          wahrscheinlich zwei Trompeten, zwei Hörner und zwei Klarinetten. Bald darauf kommen drei Schlaginstrumente und
          ein Fagott dazu.</p>
      </div>
    </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1832</h2>
      <p>Das Instrumentarium der kleinen Kapelle wird durch persönlichen Einsatz von Sebastian Baur und weiteren Gönnern
        um eine Klappentrompete, später um zwei Zugposaunen, ein Paar Cinellen, ein Kontrafagott und Maschinen- bzw.
        Ventiltrompeten erweitert.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1837</h2>
      <p>Kapellmeister Johann Taschler – Egarter übernimmt die Musikkapelle. Seine Jugendarbeit trägt schnell Früchte
        und macht die auf rund 20 Mann angewachsene Kapelle im Pustertal bekannt und gefragt.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1838</h2>
      <p>Bei der Einweihung der Franzensfeste sehen zwei Toblacher Musikanten zum ersten Mal in ihrem Leben eine
        Regimentskapelle, die spielend im Gleichschritt marschiert. Ab sofort heißt es auch in Toblach: Im Schritt –
        Marsch!</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1877</h2>
      <p>Das Grand Hotel Toblach wird erbaut, vom Ehepaar Ignaz und Elise Überbacher gepachtet und nach zehn Jahren von
        ihnen gekauft. Es erarbeitet sich einen erstklassigen Ruf und lockt Gäste aus ganz Europa an. Bis 1914 werden in
        Neu-Toblach und dem Höhlensteintal verschiedene Hotels und Pensionen errichtet. Die Musikkapelle spielt häufig
        “Fremdenkonzerte” an verschiedensten Orten zur Unterhaltung der Gäste. </p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1885</h2>
      <p>Das musikalische Repertoire der Kapelle wird um melodiöse Konzertmärsche, Walzer und Polkas sowie Bearbeitungen
        von Ouvertüren, Opernarien und Operetten erweitert. </p>
    </div>
  </div>


  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1886</h2>
      <p>initiiert Kapellmeister Josef Walch die Anschaffung der neuen “Zillertaler Tracht”. Walch schreibt die Chronik
        der Musikkapelle nach, führt diese weiter und legt Protokollbücher an. </p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1907</h2>
      <p>Kapellmeister Sebastian Baur, Lehrer und Enkel des Gründers, übernimmt die Musikkapelle und setzt sich für die
        Anschaffung einer authentischen “Toblacher Nationaltracht” ein. Er befasst sich intensiv mit Kirchenmusik,
        komponiert weltliche und geistliche Werke. In Toblach entsteht ein 18 Mann starkes Streichorchester.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1912</h2>
      <p>werden neue Instrumente mit der internationalen Stimmung eingeführt, sodass auf dem Kirchenchor und in der
        Kapelle dieselben Instrumente verwendet werden können.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1914-1918</h2>
      <p>Die Musikanten, die in den Krieg einrücken müssen, werden mit klingendem Spiel zum Bahnhof geleitet und
        verabschiedet. Bis auf zwei kehren alle zurück. Die Tätigkeit der Kapelle wird in dieser Zeit auf ein Minimum
        beschränkt.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1920er Jahre</h2>
      <p>Die Zwischenkriegszeit ist eine Zeit der Höhen und Tiefen: Durch den wieder aufkommenden Fremdenverkehr steigt
        die Tätigkeit und Nachfrage nach der Musikkapelle zwar an, die Bedingungen für Auftritte sind aber aufgrund von
        politischen Spannungen zunehmend schwieriger.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1939-1945</h2>
      <p>Der Zweite Weltkrieg und die Option hinterlassen große Lücken in der Musikkapelle. Nur die notwendigsten
        Auftritte an kirchlichen Festtagen werden absolviert.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1947</h2>
      <p>Erster ordentlicher Auftritt nach dem Krieg. Franz Strobl (Nantl) wird zum Obmann gewählt. Er kümmert sich um
        die Aufbesserung der Musikkasse, die Reparatur der Instrumente, der Trachten und Monturen. </p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1948</h2>
      <p>Die Musikkapelle erhält den 3. Platz für ihre Tracht bei der Bozner Messe. Das Preisgeld beträgt 5.000
        Lire.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1950</h2>
      <p>nimmt die Kapelle am ersten Wertungsspiel in Welsberg teil und erzielt den 1. Preis in der 1. Kategorie.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1955</h2>
      <p>entsteht die erste Tonbandaufnahme der Kapelle auf dem Schulplatz.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1957</h2>
      <p>findet das erste Frühjahrskonzert auf dem Postplatz unter Kapellmeister Alois Strobl statt.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1963</h2>
      <p>wird das renovierte Musikzimmer hinter dem Haus Biedenegg eingeweiht. </p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1966</h2>
      <p>entsteht auf dem Schulplatz ein Musikpavillon.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1971</h2>
      <p>Die Kapelle feiert das 150-jährige Bestandsjubiläum. Es erscheint eine Festschrift, geschrieben von Obmann
        Andreas Walder.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1977</h2>
      <p>Ausführliche Statuten sorgen für mehr Klarheit in organisatorischen Belangen.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1985</h2>
      <p>Frauenpower jetzt auch in der Musikkapelle Toblach: Astrid Hell (Flöte) tritt als erste Frau in die bislang von
        Männern dominierte Kapelle ein.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1986</h2>
      <p>Die Musikkapelle bezieht den Probenraum am jetzigen Standort in der Volksschule.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1987</h2>
      <p>Im Musiksaal der Grundschule spielt die Musikkapelle unter Kapellmeister Alois Walder ihr erstes großes
        Saalkonzert.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1996</h2>
      <p>Der Chronist erwähnt zum ersten Mal eine Marschierprobe.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1996</h2>
      <p>Beim feierlichen Jubiläum zum 175-jährigen Bestehen wird die Festschrift verfasst von Christoph Walder
        vorgestellt. </p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>1997</h2>
      <p>Unter Kapellmeister Pepi Fauster wird zum ersten Mal die Position des Jugendleiters im Ausschuss besetzt, die
        JUKA (Jugendkapelle) Toblach wird gegründet. Die Wichtigkeit der Jugendarbeit zeigt auch das erste Konzert in
        Zusammenarbeit mit der Grundschule 1998. </p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>2001</h2>
      <p>Im Rahmen eines Festgottesdiensts wird die Musikfahne enthüllt.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>2004</h2>
      <p>Neue Technologien machen selbst vor traditionsbewussten Musikkapellen nicht halt. Die Musikant*innen werden nun
        via SMS über Ausrückungen, Proben usw. informiert</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>2007</h2>
      <p>Nach längerer Pause nimmt die Musikkapelle am Bezirkswertungsspiel in Olang teil und erspielt die höchste
        Punktezahl in der Kunststufe (Kategorie D).</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>2014</h2>
      <p>erhält die Musikkapelle Toblach unter Kapellmeister Sigisbert Mutschlechner und Obmann Hermann Rienzner den
        Blasmusikpreis des Landes Südtirol für besondere Verdienste in verschiedenen Bereichen der Tätigkeit einer
        Musikkapelle. Besonders hervorstechend ist das Projekt “Bläserklasse - jedem Kind ein Instrument” in
        Zusammenarbeit mit der Grundschule Toblach, welches im selben Jahr startet. </p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>2019</h2>
      <p>Modernisierung und akustische Sanierung des Probelokals im Grundschulgebäude - zeitgemäße Probenarbeit ist nun
        möglich.</p>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie"></div>
    <div class="cd-timeline-content">
      <h2>2020</h2>
      <p>Aufgrund der Corona-Pandemie legen viele Musikkapellen ihre Tätigkeiten still. Die Musikkapelle Toblach
        überrascht ihr Publikum mit einer Konzertreihe, gespielt von verschiedenen Kleingruppen an besonderen Orten im
        Dorf.</p>
    </div>
  </div>
</section>-->


<div class="container">
  <h1>TODO</h1>
  <p>

    Sechs Chronikbücher, zwei Festschriften, Protokoll- und Kassabücher und jede Menge Word-Dokumente - das ist nicht
    der Umfang der Bibel, das ist der Umfang der Aufzeichnungen der Musikkapelle Toblach. Die von Chronist Werner
    Pitterle in mühevoller Kleinarbeit transkribierte Chronik ist in Umfang und Detailtreue südtirolweit wohl
    einzigartig. Sie geht über rein vereinsinterne Aufzeichnungen hinaus und ist ein wertvolles zeitgeschichtliches
    Dokument mit nur wenigen Lücken.


    Station 2 - Bildunterschriften
    Jahreszahl zu Bildern:
    1885 - Erstes Bild der Musikkapelle
    1877 – Erstes Musikpavillon beim Grand Hotel in Neutoblach
    (wo es passt) Musikkapelle Toblach in Zillertaler Tracht Ende 19 Jh.
    1926 – Primiz in Sexten – erstes Foto in „Hut und Rock“
    1938 – Die Musikkapelle spielt zu Ehren des neuen Kapellmeisters
    1944 – Vereidigung der Landwache
    1966 – Bauarbeiten am Musikpavillon
    2001 – Einweihung der Musikfahne
    2020 – Konzerte an besonderen Gruppen – Zweiwasserbrunnen
  </p>

</div>
