<div class="container">
  <h2 [translate]="'s2_header'">Gestern & Heute</h2>
  <p [translate]="'s2_sh1_p1'">
    Mit dem Jahr 1821 beginnt die Geschichte der Musikkapelle Toblach. Ihren Ursprung hat sie in der Kirchenmusik.
    Erste Belege über Kirchenchor und Kirchenorgel stammen aus dem Jahr 1597. Meist besorgt der Schulmeister sowohl
    das Orgelspiel als auch das Leiten des Chores und die Ausbildung der jungen Sänger. Namentlich sei hier Johannes
    Brand aus Niederdorf genannt (von 1769 - 1800 Lehrer in Toblach). Aus seiner Zeit findet man den ersten schriftlichen
    Hinweis auf ein Kirchenorchester, bestehend aus zwei Violinen, einem Violoncello, zwei Trompeten, zwei Hörnern und
    einem Paukenpaar, das bei hohen Festtagen spielt.
  </p>
  <p>
    Um 1800 wird von Schützen berichtet, die die kirchlichen Prozessionen mit Schwegeln und Trommeln begleitet haben.
    Als Vorbild der Musikkapellen sind auch die kaiserlichen Regimentsmusiken zu nennen. Sie treten in dieser Zeit
    üblicherweise mit zwei Oboen, zwei Klarinetten, zwei Hörnern und zwei Fagotten auf. Zu diesen Regimentsmusiken
    kommt die „Türkische Musik” hinzu, welche ursprünglich das Schlagwerk umfasst und das Marschieren erleichtert.
  </p>

  <h2 [translate]="'s2_subheader1'">chronologisch</h2>
  <app-historic-view [historicEntries]="historicEntries"></app-historic-view>

  <h2 [translate]="'s2_subheader2'">aufgeschrieben</h2>
  <p [translate]="'s2_sh2_p1'">
    Sechs Chronikbücher, zwei Festschriften, Protokoll- und Kassabücher und jede Menge Word-Dokumente - das ist
    nicht der Umfang der Bibel, das ist der Umfang der Aufzeichnungen der Musikkapelle Toblach. Die von Chronist
    Werner Pitterle in mühevoller Kleinarbeit transkribierte Chronik ist in Umfang und Detailtreue südtirolweit
    wohl einzigartig. Sie geht über rein vereinsinterne Aufzeichnungen hinaus und ist ein wertvolles zeitgeschichtliches
    Dokument mit nur wenigen Lücken. 2014 erhält die Musikkapelle Toblach unter Kapellmeister Sigisbert Mutschlechner
    und Obmann Hermann Rienzner den Blasmusikpreis des Landes Südtirol für besondere Verdienste in verschiedenen
    Bereichen der Tätigkeit einer Musikkapelle. Besonders hervorstechend ist das Projekt „Bläserklasse - jedem Kind
    ein Instrument” in Zusammenarbeit mit der Grundschule Toblach, welches im selben Jahr startet.
  </p>

</div>
