<div class="container">
  <h1 [translate]="'s6_header'">Jugend & Musik</h1>

  <p [translate]="'s6_sh1_p1'">
    Den ersten Hinweis auf musikalische Ausbildung von Kindern und Jugendlichen findet man in Zusammenhang mit den
    Dorfschulen in einer Urkunde von 1345, mit welcher ein Schulmeister in Toblach angestellt wird. Zu dessen
    Aufgabenbereich gehört es, Knaben für den Ministrantendienst und als Kirchensänger auszubilden.
  </p>
  <p [translate]="'s6_sh1_p2'">
    Der Lehrer, Organist und Klarinettist Josef Wörnhart kommt 1818 nach Toblach und übernimmt die Ausbildung des jungen
    Sängers Johann Taschler (Egarter) und seines Freundes Sebastian Baur. Musikanten des Pfarrchores unterweisen letzteren
    im Spiel auf den verschiedenen Instrumenten (Trompete, Klarinette, Horn und Fagott). Sebastian Baur ist dann aber
    selbst sein bester Lehrer.
  </p>
  <p [translate]="'s6_sh1_p3'">
    Als er 1830 die Kapelle übernimmt, bemüht er sich besonders um die Ausbildung junger Musikanten. Diese werden bereits
    nach kurzer Lehrzeit in der Kapelle eingesetzt, erhalten aber weiterhin Unterricht durch Sebastian Baur. Bis in die
    1950er Jahre erfolgt die Ausbildung großteils nach diesem Muster.
  </p>

  <h2 [translate]="'s6_sh2'">institutionalisiert</h2>
  <p [translate]="'s6_sh2_p1'">
    Mit den 1960er Jahren beginnen Musikschüler*innen aus Toblach die Musikschule in Bruneck zu besuchen. Unterstützt und
    motiviert durch Obleute, Kapellmeister und verschiedene Musikanten fahren sie wöchentlich zum Unterricht und nehmen
    auch an Konzerten teil.
  </p>
  <p [translate]="'s6_sh2_p2'">
    Allerdings wünschen sich die Toblacher und die Musikkapellen der Nachbardörfer bald eine eigene Musikschule im Oberen
    Pustertal, weshalb 1967 unter Obmann Franz Strobl (Nantl) ein Gesuch mit diesem Anliegen an das Kulturinstitut in Bozen
    gerichtet wird. Infolgedessen öffnet 1969 in Toblach eine Außenstelle der Musikschule Bruneck.
  </p>
  <p [translate]="'s6_sh2_p3'">
    Von Beginn an bis zur Gegenwart ist die Musikschule eine wichtige Partnerin der Musikkapelle. Aktuell unterstützt sie
    das Projekt Bläserklasse und arbeitet mit den Jugendleiter*innen der Kapelle zusammen. Die Instrumentallehrpersonen
    bereiten die Musikschüler*innen auf die Prüfungen für die Leistungsabzeichen des Verbandes Südtiroler Musikkapellen
    vor und motivieren sie, an den Initiativen der Kapelle teilzunehmen.
  </p>

  <h2 [translate]="'s6_sh3'">vorbildlich</h2>
  <p [translate]="'s6_sh3_p1'">
    Die Jugendarbeit in der Musikkapelle geht jahrzehntelang vom Kapellmeister, dem Obmann oder bemühten Musikanten aus.
    Dann kommt das Amt des/der Jugendleiter*in dazu, welche/r sich insbesondere um die Musikschüler*innen, aber auch um
    die jungen Musikant*innen in der Kapelle kümmert. Er/Sie wirbt neue Mitglieder an. In den 1990er Jahren wird die Schule
    als passender Ort dafür gefunden. Nach einer Präsentation der Kapelle werden interessierten
    Schüler*innen verschiedene Instrumente vorgestellt, die sie ausprobieren dürfen. Besondere Wirkung zeigen auch die
    Projekte, die mit der Grundschule geplant werden: So findet 1998 das Kinderkonzert „Ein Musikfest auf Burgen in Tirol”
    der Musikkapelle mit Kindern aus verschiedenen Oberpustertaler Grundschulen statt oder 2012 das Kinderkonzert
    „Zwei Freunde finden einen Schatz” mit der Grundschule Toblach.
  </p>
  <p [translate]="'s6_sh3_p2'">
    Ein besonderes Projekt ist die Bläserklasse Toblach, die seit 2014 existiert. Diese bietet Instrumentalunterricht für
    die 4. und 5. Klasse Grundschule im Rahmen des Schulalltags an. Lernen, Üben, Proben, gemeinsames Auftreten von Anfang
    an lautet die Devise. Die Kinder erhalten sowohl Individual- als auch Gruppenunterricht. Die Idee „Jedem Kind ein Instrument“
    hat einen angenehmen Nebeneffekt: Es wird nicht nur viel mehr musiziert, sondern jede Familie mit Schulkindern ist durch
    dieses Projekt mit der Musikkapelle Toblach enger verbunden.
  </p>

  <h2 [translate]="'s6_sh4'">begeisternd</h2>
  <p [translate]="'s6_sh4_p1'">
    Um die Nachwuchsmusiker*innen in die Kapelle zu integrieren, werden sie im Laufe ihrer Ausbildung immer wieder zu den
    Proben der Kapelle eingeladen. Bevor die Jungmusikant*innen Teil des „großen” Blasorchesters werden, sammeln sie
    Erfahrungen in der JUKA, der Jugendkapelle Toblach.
  </p>
  <p [translate]="'s6_sh4_p2'">
    Ein erstes Konzert von Jungmusikanten gibt es zwar schon 1967, allerdings kann hier noch nicht von einer Jugendkapelle
    im heutigen Sinne gesprochen werden. Unter Kapellmeister Pepi Fauster wird 1997 die heutige Form der JUKA gegründet.
    Nach dem Motto des erfolgreichen holländischen Dirigenten Gert Buitenhuis „Die Jugend muss mit den besten Dirigenten
    arbeiten“, leiten Kapellmeister, Vizekapellmeister oder geschulte Nachwuchsdirigenten das Jugendblasorchester.
    Neben musikalischen Aktivitäten stehen die Gemeinschaft und das Kennenlernen der Musikkapelle im Fokus: Wandertage
    oder Grillfeiern mit den „großen” Musikant*innen, Hüttenlager mit Kurzkonzerten und Projekte wie das Gemeinschaftskonzert
    mit der aktuellen Musikkapelle und der Seniorenkapelle 2011 erleichtern den späteren Eintritt in die Musikkapelle.
    Dass die JUKA der „großen” Kapelle nacheifert, sieht man auch daran, dass sie 2009 als Vertreterin Südtirols am
    Bundesjugendwettbewerb in Linz teilnehmen darf.
  </p>

  <h2 [translate]="'s6_sh5'">kontinuierlich</h2>
  <p [translate]="'s6_sh5_p1'">
    Lebenslanges Lernen ist auch in der Musik kein leerer Slogan. Mitglied bei der Musikkapelle Toblach zu sein bedeutet nicht,
    die Musikschule zu besuchen und dann in der Kapelle mitzuspielen, sondern setzt die Bereitschaft voraus, sich ständig auf
    dem Instrument weiterzubilden. Viele Musikant*innen besuchen weiterhin die Musikschule und erspielen sich, nachdem sie vor
    Eintritt in die Kapelle das Jungmusikerleistungsabzeichen in Bronze erworben haben, weitere (Jung-) Musikerleistungsabzeichen
    des Verbandes Südtiroler Musikkapellen (VSM).
  </p>
  <p [translate]="'s6_sh5_p2'">
    Der VSM spielt auch für die musikalische Aus- und Weiterbildung der Musikant*innen eine große Rolle. Ab den 1970er Jahren
    werden Kurse und sommerliche Jungbläserwochen angeboten, später Bläserkurse, Seniorenkapellen, Bezirksblasorchester oder
    das Südtiroler Jugendblasorchester (SJBO). An den verschiedenen Angeboten beteiligen sich immer wieder Musikantinnen und
    Musikanten aus Toblach.
  </p>


  <app-blockquote>
    <span text [translate]="'s6_sh5_cite_body'">
      Aufnahmerituale: “Zum Schluss der offiziellen Feier wurden noch folgende junge Musikanten „gehonst“ indem sie durch
      Handschlag dem Kapellmeister Treue und Fleiß versicherten.”
    </span>
    <span cite [translate]="'s6_sh5_cite_sub'">[Darunter trugen sich die Musikanten mit Namen ins Chronikbuch ein]<br>Musikchronik, Bd. 3, Cäciliafeier am 20.11.1966</span>
  </app-blockquote>


  <ngb-carousel [interval]="5000" [pauseOnHover]="true">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage6/Ensemblespiel.jpg" class="w-100">
      </div>
      <div class="carousel-caption">
        <h3 [translate]="'s6_sh5_img1'">Ensemblespiel mit Jungmusikant*innen und Nachwuchsdirigenten (2018)</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage6/Instrumentvorstellung%202008.JPG" class="w-100">
      </div>
      <div class="carousel-caption">
        <h3 [translate]="'s6_sh5_img2'">Instrumentvorstellung in der Grundschule (2008)</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage6/Aufmarsch%20Juka%20Mühlbach%202009.JPG" class="w-100">
      </div>
      <div class="carousel-caption">
        <h3 [translate]="'s6_sh5_img3'">Aufmarsch der JUKA beim Jugendkapellentreffen in Mühlbach (2009)</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage6/Bläserklasse%202019%20(2).JPG" class="w-100">
      </div>
      <div class="carousel-caption">
        <h3 [translate]="'s6_sh5_img4'">Abschlussfoto der Bläserklasse (2019)</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage6/Bläserklasse%202019.JPG" class="w-100">
      </div>
      <div class="carousel-caption">
        <h3 [translate]="'s6_sh5_img5'">Klarinettenensamble im Gustav Mahler Saal (2019)</h3>
      </div>
    </ng-template>
  </ngb-carousel>

</div>
