<div class="container">
  <h1>Station 6 - Jugend & Musik</h1>

  <h2>ausgebildet</h2>

  <p> Den ersten Hinweis auf musikalische Ausbildung von Kindern und Jugendlichen findet man in Zusammenhang mit den
    Dorfschulen in einer Urkunde von 1345, in welcher ein Schulmeister in Toblach angestellt wird. Zu dessen
    Aufgabenbereich gehört es, Knaben für den Ministrantendienst und als Kirchensänger auszubilden.
  </p>
  <p>
    Der Lehrer, Organist und Klarinettist Josef Wörnhart kommt 1818 nach Toblach und übernimmt die Ausbildung des jungen
    Sängers Sebastian Baur - Bindter und seines Freundes Johann Taschler - Egarter.
    Sebastian Baur lässt sich Grundlagen der Instrumente von den Musikanten des Pfarrchores zeigen (Trompete,
    Klarinette, Horn und Fagott), ist dann aber selbst sein bester Lehrer.
  </p>
  <p>
    Als er 1830 die Kapelle übernimmt, bemüht er sich besonders um die Ausbildung junger Musikanten. Diese werden
    bereits nach kurzer Lehrzeit in der Kapelle eingesetzt, erhalten aber weiterhin Unterricht durch Sebastian Baur.
    Bis in die 1950er Jahre erfolgt die Ausbildung großteils nach diesem Muster.

  </p>
  <h2>institutionalisiert</h2>
  <p> Mit den 1960er Jahren beginnen Musikschüler*innen aus Toblach die Musikschule in Bruneck zu besuchen. Unterstützt
    und motiviert durch Obleute, Kapellmeister und verschiedene Musikant*innen fahren sie wöchentlich zum Unterricht und
    nehmen auch an Konzerten teil.
    Allerdings wünschen sich die Toblacher und die Musikkapellen der Nachbardörfer bald eine eigene Musikschule im
    oberen Pustertal, weshalb 1967 unter Obmann Strobl Franz Nantl ein Gesuch mit diesem Anliegen an das Kulturinstitut
    in Bozen gerichtet wird.
    Infolgedessen öffnet 1969 in Toblach eine Außenstelle der Musikschule Bruneck.
  </p>
  <p>
    Von Beginn an bis zur Gegenwart ist die Musikschule eine wichtige Partnerin der Musikkapelle. Aktuell unterstützt
    sie das Projekt Bläserklasse und arbeitet mit den Jugendleiter*innen der Kapelle zusammen. Die
    Instrumentallehrpersonen bereiten die Musikschüler*innen auf die Prüfungen für die Leistungsabzeichen des VSM vor
    und motivieren sie, an den Initiativen der Kapelle teilzunehmen.
  </p>
  <h2>vorbildlich</h2>
  <p> Die Jugendarbeit in der Musikkapelle geht jahrzehntelang vom Kapellmeister, dem Obmann oder bemühten Musikanten
    aus. Dann kommt das Amt des/der Jugendleiter*in dazu, welche/r sich insbesondere um die Musikschüler*innen, aber
    auch um die jungen Musikant*innen in der Kapelle kümmert. Er/Sie wirbt neue Mitglieder an. In den 1990er Jahren wird
    dafür die Schule als passender Ort gefunden. Nach einer Präsentation der Kapelle werden interessierten Schüler*innen
    verschiedene Instrumente vorgestellt, die sie ausprobieren dürfen.
    Besondere Wirkung zeigen auch die Projekte, die mit der Grundschule geplant werden: So findet 1998 das Kinderkonzert
    “Ein Musikfest auf Burgen in Tirol” der Musikkapelle mit Kindern aus verschiedenen Oberpustertaler Grundschulen
    statt oder 2012 das Kinderkonzert “Zwei Freunde finden einen Schatz” mit der Grundschule Toblach.
  </p>
  <p>
    Ein besonderes Projekt ist die Bläserklasse Toblach, die seit 2014 existiert. Diese bietet Instrumentalunterricht
    für die 4. und 5. Klasse Grundschule im Rahmen des Schulalltags an. Lernen, Üben, Proben, gemeinsames Auftreten von
    Anfang an, lautet die Devise. Die Kinder erhalten sowohl Individual- als auch Gruppenunterricht. Die Idee „Jedem
    Kind ein Instrument“ hat einen angenehmen Nebeneffekt: Es wird nicht nur viel mehr musiziert, sondern jede Familie
    mit Schulkindern ist durch dieses Projekt mit der Musikkapelle Toblach enger verbunden.
  </p>
  <h2>begeisternd</h2>
  <p> Um die Nachwuchsmusiker*innen in die Kapelle zu integrieren, werden sie im Laufe ihrer Ausbildung immer wieder zu
    den Proben der Kapelle eingeladen. Bevor die Jungmusikant*innen Teil des “großen” Blasorchesters werden, sammeln sie
    Erfahrungen in der JUKA, der Jugendkapelle Toblach.
  </p>
  <p>
    Ein erstes Konzert von Jungmusikanten gibt es zwar schon 1967, allerdings kann hier noch nicht von einer
    Jugendkapelle im heutigen Sinne gesprochen werden. Unter Kapellmeister Pepi Fauster wird 1997 die heutige Form der
    JUKA gegründet. Nach dem Motto des erfolgreichen holländischen Dirigenten Gert Buitenhuis „Die Jugend muss mit den
    besten Dirigenten arbeiten“, leiten Kapellmeister, Vizekapellmeister oder geschulte Nachwuchsdirigenten das
    Jugendblasorchester.
    Neben musikalischen Aktivitäten stehen die Gemeinschaft und das Kennenlernen der Musikkapelle im Fokus: Wandertage
    oder Grillfeiern mit den “großen” Musikante*innen, Hüttenlager mit Kurzkonzerten und Projekte wie das
    Gemeinschaftskonzert mit der aktuellen Musikkapelle und der Seniorenkapelle 2011 erleichtern den späteren Eintritt
    in die Musikkapelle. Dass die Juka der “großen” Kapelle nacheifert, sieht man auch daran, dass sie 2009 als
    Vertreterin Südtirols am Bundesjugendwettbewerb in Linz teilnehmen darf.


  </p>

  <h2>kontinuierlich</h2>
  <p> Lebenslanges Lernen ist auch in der Musik kein leerer Slogan. Mitglied bei der Musikkapelle Toblach zu sein
    bedeutet nicht, die Musikschule zu besuchen und dann in der Kapelle mitzuspielen, sondern setzt die Bereitschaft
    voraus, sich ständig auf dem Instrument weiterzubilden. Viele Musikant*innen besuchen weiterhin die Musikschule und
    erspielen sich, nachdem sie vor Eintritt in die Kapelle das Jungmusikerleistungsabzeichen in Bronze erworben haben,
    weitere (Jung-)Musikerleistungsabzeichen des Verbandes Südtiroler Musikkapellen (VSM).
  </p>
  <p>
    Der VSM spielt auch für die musikalische Aus- und Weiterbildung der Musikant*innen eine große Rolle. Ab den 1970er
    Jahren werden Kurse und sommerliche Jugendbläserwochen angeboten, später Bläserkurse, Seniorenkapellen,
    Bezirksblasorchester oder das Südtiroler Jugendblasorchster (SJBO). An den verschiedenen Angeboten beteiligen sich
    immer wieder Musikanten und Musikantinnen aus Toblach.
  </p>


  <app-blockquote>
    <span text>Aufnahmerituale: “Zum Schluss der offiziellen Feier [Cäciliafeier] wurden noch folgende junge Musikanten „gehonst“ indem sie durch
    Handschlag dem Kapellmeister Treue und Fleiß versicherten.” [Darunter trugen sich die Musikanten mit Namen ins
    Chronikbuch ein]</span>
    <span cite>Musikchronik, Bd. 3, 20.11.1966</span>
  </app-blockquote>


  <p class="todo">
    Hier gibt es einige Probleme mit den Fotos, vor allem bei der Stele fehlen sie noch.

    Station 6
    Bild 1: Ensemblespiel mit Jungmusikanten und Nachwuchsdirigenten (2018)
    Bild 2: Instrumentvorstellung in der Grundschule (2008)
    Bild 3: Projekt „Ein Musikfest auf Burgen in Tirol“ (1998)
    Bild 4: Kinderkonzert „Zwei Freunde finden einen Schatz“ (2012)

    Bild: Aufmarsch Juka beim Jugendkapellentreffen in Mühlbach (2009)
    Bild 5: Klarinettenensamble im Gustav Mahler Saal (2019)
    Bild 6: Abschlussfoto der Bläserklasse (2019)
    Bild 7: Saxophonschüler*innen mit Lehrerinnen (2019)
  </p>
</div>
