<div class="container">
  <h2 [translate]="'s3_header'">Verein & Dorf</h2>

  <p [translate]="'s3_p1'">
    Ein Verein funktioniert dann, wenn jeder weiß, wann was wo von wem zu erledigen ist. Damit ein Verein 200 Jahre lang
    funktioniert, sind viele helfende Hände und verschiedene Fähigkeiten von Nöten.
  </p>
  <p [translate]="'s3_p2'">
    An der organisatorischen Spitze der Musikkapelle steht der Obmann. Dieser gehört zum achtköpfigen Ausschuss, welcher
    alle drei Jahre neu gewählt wird. Zu ihnen kommt als neuntes Mitglied der Kapellmeister.
  </p>
  <p [translate]="'s3_p3'">
    Die Ämter und Aufgaben in der Kapelle wachsen und verändern sich im Laufe der Vereinsgeschichte entsprechend den
    Bedürfnissen der Musikkapelle, bestimmte Aufgaben sind über die Jahre gleich geblieben.
  </p>
  <p [translate]="'s3_p4'">
    Die Musikkapelle bietet neben dem Musizieren viele Gelegenheiten, die eigenen Talente einzubringen und zum Gelingen
    des Vereins beizutragen. Die Erfahrungen, die Musikant*innen in den Bereichen der Vereinsorganisation machen, kommen
    ihnen auch im Berufs- und Privatleben zugute.
  </p>

  <h2 [translate]="'s3_sh2'">ausgebildet</h2>
  <div class="row">
    <app-image-view src="assets/images/stage3/abzeichen.JPG" class="col-sm-4"></app-image-view>
    <p class="col-sm-8" [translate]="'s3_sh2_p1'">
      Instrumentalunterricht, Kapellmeisterlehrgänge, Fortbildungen - musikalische Ausbildung spielt in der Kapelle eine
      große Rolle, und zwar schon seit 200 Jahren.
      Aus- und Weiterbildungen für die Vereinsführung werden erst in den letzten Jahrzehnten zum Thema. Der Verband
      Südtiroler Musikkapellen bietet Lehrgänge, Seminare und Vorträge an, um die Mitglieder der Kapellen bestmöglich
      zu unterstützen. Auch Toblacher Musikant*innen nehmen diese Angebote gerne an: Vier Personen haben das
      Führungskräfteseminar abgeschlossen. Andere haben sich mit Themen wie dem Führen einer Chronik, der Rolle der
      Jugendleiter, dem Volontariatsgesetz oder Rhetorik und Sprechschulung auseinandergesetzt.
    </p>
  </div>

  <h2 [translate]="'s3_subheader3'">(un)gewöhnlich</h2>
  <p [translate]="'s3_sh3_p1'">
    Viele Jahrzehnte, fast jahrhundertelang, ist die Musikkapelle Toblach ein reiner Männerverein. Die Marketenderinnen
    dienen als schmückendes Beiwerk, Musikantinnen gibt es noch keine. Erst 1985 spielt zum ersten Mal eine Frau in den
    Reihen der Musikkapelle mit. Dass dies auch für den Chronisten etwas gewöhnungsbedürftig war, zeigt die Formulierung
    zur Beteiligung der Kapelle beim Konzert in Dorf Tirol „Stand: 50 Mann + Astrid Hell”. (Musikchronik, Bd. 5, 15.9.1985)
    Ab diesem Zeitpunkt steigt der Frauenanteil stetig, 2001 sitzt erstmalig eine Frau im Ausschuss. Im heurigenJubiläumsjahr
    besteht die Kapelle aus 37 Frauen und 47 Männern, der Ausschuss ist mit je vier Männern und Frauen gleichberechtigt.
  </p>

  <app-historic-view title="Obmänner" [historicEntries]="obmaenner"></app-historic-view>

  <h2 [translate]="'s3_subheader4'">vielfältig</h2>
  <table>
    <thead>
    <tr>
      <th style="width: 200px" ><b [translate]="'s3_sh4_table_header_t'">Tätigkeit</b></th>
      <th><b [translate]="'s3_sh4_table_header_d'">Beschreibung</b></th>
    </tr>
    </thead>
    <tr>
      <td><p [translate]="'s3_sh4_td1_t'"></p></td>
      <td><p [translate]="'s3_sh4_td1_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td2_t'"></p></td>
      <td><p [translate]="'s3_sh4_td2_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td3_t'"></p></td>
      <td><p [translate]="'s3_sh4_td3_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td4_t'"></p></td>
      <td><p [translate]="'s3_sh4_td4_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td5_t'"></p></td>
      <td><p [translate]="'s3_sh4_td5_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td6_t'"></p></td>
      <td><p [translate]="'s3_sh4_td6_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td7_t'"></p></td>
      <td><p [translate]="'s3_sh4_td7_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td8_t'"></p></td>
      <td><p [translate]="'s3_sh4_td8_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td9_t'"></p></td>
      <td><p [translate]="'s3_sh4_td9_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td10_t'"></p></td>
      <td><p [translate]="'s3_sh4_td10_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td11_t'"></p></td>
      <td><p [translate]="'s3_sh4_td11_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td12_t'"></p></td>
      <td><p [translate]="'s3_sh4_td12_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td13_t'"></p></td>
      <td><p [translate]="'s3_sh4_td13_d'"></p></td>
    </tr>
    <tr>
      <td><p [translate]="'s3_sh4_td14_t'"></p></td>
      <td><p [translate]="'s3_sh4_td14_d'"></p></td>
    </tr>
  </table>
  <p [translate]="'s3_sh4_p2'">


  <div>
  <h2 [translate]="'s3_subheader5'">symbiotisch</h2>
  <p [translate]="'s3_sh5_p1'">
    Dass die Musikkapelle und das Dorf eine Symbiose bilden, beweist ihr Einsatz bei vielen großen Sportveranstaltungen.
    Sie umrahmt vom lokalen Toblacher Nachtlauf (seit 1977) bis zum nationalen Giro d ́Italia (1990), dem Naturbahnrodelwelcup
    (1997), der internationalen Handmäh- Europameisterschaft (2013) oder der Eröffnung der Weltmeisterschaft im
    Eisstockschießen (1974) „große” Momente in Toblach.
  </p>
  <p [translate]="'s3_sh5_p2'">
    Auch kirchliche Ereignisse wie Erstkommunion, Floriani oder Prozessionen sind ohne die Klänge der Musikkapelle undenkbar.
    Kleingruppen umrahmen Bergmessen, spielen nach der Christmette oder bei anderen religiösen Anlässen.</p>
  <p [translate]="'s3_sh5_p3'">
    Daneben ist die Kapelle Teil des regen Toblacher Vereinslebens: Man organisiert gemeinsam mit anderen Vereinen das
    jährliche Mittsommerfest, spielt bei Jubiläen, Einweihungen, Festen oder Eröffnungen und misst sich in sportlichen Wettkämpfen.
    So kommt es ab 1975 z.B. zu einigen Freundschaftsspielen (Fußball) gegen die Freiwillige Feuerwehr unter den wachsamen Augen
    des damaligen Bürgermeisters. Tradition ist auch die Teilnahme am jährlichen Eisstockschießen der Vereine.
  </p>

  <ngb-carousel [interval]="5000" [pauseOnHover]="true">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage3/religioes/Kriegerfriedhof.JPG" class="w-100">
      </div>
      <div class="carousel-caption">
        <h4 [translate]="'s3_sh5_img1'">Heldengedenken im Kriegerfriedhof</h4>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage3/religioes/JägermesseDSC_1452.JPG" class="w-100">
      </div>
      <div class="carousel-caption">
        <h4 [translate]="'s3_sh5_img2'">Spiel bei Messfeiern - hier der Jägermesse</h4>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage3/religioes/1982%20-%20Prozession01V.jpg" class="w-100">
      </div>
      <div class="carousel-caption">
        <h4 [translate]="'s3_sh5_img3'">Feierliche (lange) Prozession (1982)</h4>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage3/religioes/Bergmesse%20o.ä.%20vlt.%20Plätz.JPG" class="w-100">
      </div>
      <div class="carousel-caption">
        <h4 [translate]="'s3_sh5_img4'">Umrahmung von Bergmessen</h4>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage3/religioes/Erstkommunion%20194041v.jpg" class="w-100">
      </div>
      <div class="carousel-caption">
        <h4 [translate]="'s3_sh5_img5'">Begleitung der Erstkommmunikanten (1940)</h4>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage3/religioes/Floriani%20besser.JPG" class="w-100">
      </div>
      <div class="carousel-caption">
        <h4 [translate]="'s3_sh5_img6'">Umrahmung der Florianifeier</h4>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage3/religioes/Trauermusik%20196610.jpg" class="w-100">
      </div>
      <div class="carousel-caption">
        <h4 [translate]="'s3_sh5_img7'">Trauermusik (1966)</h4>
      </div>
    </ng-template>
  </ngb-carousel>

</div>

  <div class="mb-2">
  <h2 [translate]="'s3_subheader6'">gesellig</h2>
  <p [translate]="'s3_sh6_p1'">Musikkapelle ist nicht nur gemeinsam musizieren und dann wieder nach Hause gehen, Musikkapelle ist auch gemütliches
    Beisammensein, Spaß und Sport. Bereits in den 1980er Jahren rodeln die Musikanten mit ihren Frauen um die Wette.
    Fußballspiele, Rad- und Wandertage, Mondscheinrodeln, Eisstockturniere und sogar ein Kuppelwettbewerb (unter
    fachmännischer Anleitung des Feuerwehrkommandanten) finden statt. Wem das zu viel Fitness abverlangt, der kann in den
    Maumau- und Wattturnieren oder im Tanzkurs für Anfänger*innen glänzen.
  </p>


  <ngb-carousel [interval]="5000" [pauseOnHover]="true">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage3/Rodelrennen%201980er%20Jahre.JPG" class="w-100">
      </div>
      <div class="carousel-caption">
        <h4 [translate]="'s3_sh6_img1'">Rodelrennen (1980er Jahre)</h4>
      </div>
    </ng-template>
    <!--<ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage3/Gesellig%202010.JPG" class="w-100">
      </div>
      <div class="carousel-caption">
        <h4>Vereinsinternes Fussballturnier (2010)</h4>
      </div>
    </ng-template>-->
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage3/20190404_230654.jpg" class="w-100">
      </div>
      <div class="carousel-caption">
        <h4 [translate]="'s3_sh6_img3'">Eisstockturnier mit der Musikkapelle St. Georgen (2019)</h4>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/stage3/Wattturnier%202014.JPG" class="w-100">
      </div>
      <div class="carousel-caption w-100">
        <h4 [translate]="'s3_sh6_img4'">Wattturnier Cäciliafeier (2014)</h4>
      </div>
    </ng-template>
  </ngb-carousel>

  </div>

</div>
