<div class="container">
  <h1>Station 3 - Verein & Dorf</h1>
  <h2>organisiert</h2>
  <p>
    Ein Verein funktioniert dann, wenn jeder weiß, wann was wo von wem zu erledigen ist. Damit ein Verein 200 Jahre lang
    funktioniert, sind viele helfende Hände und verschiedene Fähigkeiten von Nöten.</p><p>
    An der organisatorischen Spitze der Musikkapelle steht der Obmann. Dieser gehört zum achtköpfigen Ausschuss, welcher
    alle drei Jahr neu gewählt wird. Zu ihnen kommt als neuntes Mitglied der Kapellmeister.</p><p>
    Die Ämter und Aufgaben in der Kapelle wachsen und verändern sich im Laufe der Vereinsgeschichte entsprechend den
    Bedürfnissen der Musikkapelle, bestimmte Aufgaben sind über die Jahre gleich geblieben.</p><p>
    Musikalisch und organisatorisch bietet die Musikkapelle neben dem Musizieren viele Gelegenheiten, die eigenen
    Talente einzubringen und zum Gelingen des Vereins beizutragen. Die Erfahrungen, die Musikant*innen in den Bereichen
    der Vereinsorganisation machen, kommen ihnen auch im Berufs- und Privatleben zugute.
  </p>

  <h2>ausgebildet</h2>
  <p>
    Instrumentalunterricht, Kapellmeisterlehrgänge, Fortbildungen - musikalische Ausbildung spielt in der Kapelle eine
    große Rolle, und zwar schon seit 200 Jahren.
    Aus- und Weiterbildungen für die Vereinsführung wird erst in den letzten Jahrzehnten zum Thema. Der Verband
    Südtiroler Musikkapellen bietet Lehrgänge, Seminare und Vorträge an, um die Mitglieder der Kapellen bestmöglich zu
    unterstützen. Auch Toblacher Musikant*innen nehmen diese Angebote gerne an und vier Personen haben das
    Führungskräfteseminar abgeschlossen. Andere haben sich mit Themen wie dem Führen einer Chronik, der Rolle der
    Jugendleiter, dem Volontariatsgesetz oder Rhetorik und Sprechschulung auseinandergesetzt.


  </p>
  <app-historic-view title="Obmänner" [historicEntries]="obmaenner"></app-historic-view>


  <h2>(un)gewöhnlich</h2>
  <p>Viele Jahrzehnte, fast jahrhundertelang, ist die Musikkapelle Toblach ein reiner Männerverein. Die Marketenderinnen
    dienen als schmückendes Beiwerk, Musikantinnen gibt es noch keine.
    Erst 1985 spielt zum ersten Mal eine Frau in den Reihen der Musikkapelle mit. Dass dies auch für den Chronisten
    etwas gewöhnungsbedürftig war, zeigt die Formulierung zur Beteiligung der Kapelle beim Konzert in Dorf Tirol
    ,,Stand: 50 Mann + Astrid Hell”. (Musikchronik, Bd. 5, 15.9.1985) Ab diesem Zeitpunkt steigt der Frauenanteil
    stetig, mit Johanna Taschler sitzt 2001 erstmalig eine Frau im Ausschuss. Im heurigen Jubiläumsjahr besteht die
    Kapelle aus 37 Frauen und 47 Männern, der Ausschuss ist mit je vier Männern und Frauen gleichberechtigt.</p>


  <h2>vielfältig</h2>
  <p>
    Obmann / Obfrau → Trägt die Verantwortung für die organisatorischen Belange des Vereins und führt den Verein mit
    Hilfe des Ausschusses.


    Vizeobmann / Vizeobfrau → Unterstützt die Obleute bei seinen vielfältigen Aufgaben und vertritt sie wenn nötig.


    Kassier/in → Ist die Ansprechperson für die finanziellen Bereiche des Vereins, unterstützt die Mitglieder bei
    Ankäufen oder Beitragsansuchen.


    Schriftführer/in → Übernimmt die Protokollführung und das Verfassen verschiedener Schriftstücke.


    Jugendleiter/in - Ist zuständig für die Anwerbung von Jungmusikant*innen und unterstützt diese bei ihrer Ausbildung,
    organisiert die Jugendkapelle und ist Ansprechperson für junge Musikant*innen.

    Medienreferent/in → Kümmert sich um den Auftritt der Kapelle in verschiedenen Medien, schreibt Pressetexte,
    gestaltet Plakate und ist für die Werbung bei Veranstaltungen zuständig.

    Stabführer/in - Ist hauptverantwortlich für den Bereich Musik in Bewegung, steht der Kapelle bei Marschauftritten
    vor, organisiert Marschierproben und hat den Gesamteindruck der Musikkapelle bei Auftritten in Tracht oder Uniform
    im Blick.

    Kapellmeister/in - Trägt die Verantwortung für die musikalischen Bereiche des Vereins wie Probenarbeit, gespielte
    Literatur, Planung von Konzerten und Weiterbildung der Musikant*innen.

    Vizekapellmeister/in - Unterstützt den/die Kapellmeister*in bei den musikalischen Aufgaben und vertritt ihn/sie wenn
    nötig. Zu den Aufgaben bei der Musikkapelle Toblach gehört auch die Organisation der Bläserklasse.

    Instrumentwart/in - Kümmert sich um die Verteilung, Ankäufe und Reparaturen von Instrumenten, welche sich im Besitz
    der Musikkapelle Toblach befinden und an die Mitglieder verliehen werden.


    Trachtenwart/in - Steht dem Trachtenarchiv vor, versorgt Musikant*innen mit den nötigen Kleidungsstücken und kümmert
    sich um die Reparatur oder um Ankäufe aller Teile der Tracht bzw. Uniform.

    Notenwart/in - Organisiert das 1319 Werke umfassende Notenarchiv (Stand 2020) der Musikkapelle Toblach und ist für
    die Verteilung der Noten zuständig.

    Zeugwart/in - Kümmert sich um den Besitz der Musikkapelle, z.B. um Notenpulte oder Podeste und führt kleinere
    Reparaturen durch.


    Chronist/in - Führt die Musikchronik und kümmert sich um die Digitalisierung früherer Dokumente und Fotografien.


  </p>

  <h2>symbiotisch</h2>
  <p>
    Dass Musikkapelle und Dorf eine Symbiose bilden, beweist ihr Einsatz bei vielen großen Sportveranstaltungen. Sie
    umrahmt vom lokalen Toblacher Nachtlauf (seit 1977) bis zum nationalen Giro d´Italia (1990), dem
    Naturbahnrodelwelcup (1997), der internationalen Handmäh-Europameisterschaft (2013) oder der Eröffnung der
    Weltmeisterschaft im Eisstockschießen (1974) “große” Momente in Toblach.</p><p>
    Kirchliche Ereignisse wie Erstkommunion, Floriani oder Prozessionen sind ohne die Klänge der Musikkapelle undenkbar.
    Kleingruppen umrahmen Bergmessen, spielen nach der Christmette oder bei anderen religiösen Anlässen.</p><p>
    Daneben ist die Kapelle Teil des regen Toblacher Vereinslebens: Man organisiert gemeinsam mit anderen Vereinen das
    jährliche Mittsommerfest, spielt bei Jubiläen, Einweihungen, Festen oder Eröffnungen und misst sich in sportlichen
    Wettkämpfen. So kommt es ab 1975 z.B. zu einigen Freundschaftsspielen (Fußball) gegen die Freiwillige Feuerwehr
    unter den wachsamen Augen des damaligen Bürgermeisters. Tradition ist auch die Teilnahme am jährlichen
    Eisstockschießen der Vereine.

  </p>


  <h2>gesellig</h2>
  <p>Musikkapelle ist demnach nicht nur gemeinsam musizieren und dann wieder nach Hause gehen, Musikkapelle ist auch
    gemütliches Beisammensein, Spaß und Sport. Bereits in den 1980er Jahren rodeln die Musikanten mit ihren Frauen um
    die Wette. Fußballspiele, Rad- und Wandertage, Mondscheinrodeln, Eisstockturniere und sogar ein Kuppelwettbewerb
    (unter fachmännischer Anleitung des Feuerwehrkommandanten) finden statt. Wem das zu viel Fitness abverlangt, der
    kann in den Maumau- und Wattturnieren oder im Tanzkurs für Anfänger glänzen.
  </p><p>
    <h1>
    ZITAT

    ,,Für den darauf folgenden Sonntag, 18.7. hatte der Obmann eine gemeinsame Wanderung für alle interessierten auf den
    Sarlkofl ausgeschrieben. Von den 56 Musikanten sind immerhin die stolze Zahl von Drei erschienen, was aber dem Spaß
    an diesem Ausflug nichts anhaben konnte.” (Musikchronik, Bd. 6, 18.7.1999)

    __________________________________________________________________________
    Leider fehlen uns hier noch einige der Symbolbilder, bitte einfach irgendetwas nehmen.
    _________________________________________________________________________

    Station 3 - Untertitel
    Bild 1: Abzeichen für erfolgreich absolviertes Führungskräfteseminar
    Bild 2: Musikantinnen beim Festkonzert (2012)

    BILDER FÜR SCHACHBRETT: keine Bildunterschrift

    BILDERSTRECKE
    Feierliche (lange) Prozession (1982)
    Trauermusik (1966)
    Begleitung der Erstkommunikanten (1940)
    Bergmesse
    Floriani
    Jägermesse
    Heldengedenken Kriegerfriedhof
    GESELLIG
    Bild 1: Rodelrennen
    Bild 2: Eisstockturnier mit der Musikkapelle St. Georgen (2019)
    Bild 3: Vereinsinternes Fussballturnier (2010)
    Bild 4: Wattturnier Cäciliafeier (2014)
</h1>

</div>
