@import 'custom';
@import '~bootstrap/scss/bootstrap';
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'acherus-grotesque-light';
  src: url(assets/fonts/acherus-grotesque-light.ttf) format("truetype");
}

@font-face {
  font-family: 'Bambusa Pro Regular';
  src: url('assets/fonts/Bambusa Pro Regular.ttf') format("truetype");
}

.navbar {
  background-color: darken($primary, 20);
  z-index: 5
}

h1 {
  color: $primary;
  text-align: center;
  font-family: 'Bambusa Pro Regular';
  padding-bottom: 15px
}

h2 {
  color: $secondary;
  font-family: 'Bambusa Pro Regular';
  text-decoration: underline;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  font-family: 'acherus-grotesque-light';
  color: $secondary;
  font-size: 20px;
}

p {
  font-family: 'acherus-grotesque-light';
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.7);
  text-align: justify;
}

p.todo {
  background-color: $danger;
}

html, body {
  background-color: $dark;
  height: 100%;
  font-family: 'acherus-grotesque-light';
  box-sizing: border-box;
}



img.img-zoomable {
  transition:transform 0.25s ease;
  width: 100%;
}

img.img-zoomable:hover {
  -webkit-transform:scale(1.05);
  transform:scale(1.05);
}


.carousel-caption{
 background: rgba(0, 0, 0, 0.5);
  padding-bottom: 30px;
  left: 0;
  right: 0;
  bottom: 0;
}

