@import 'custom';
@import '~bootstrap/scss/bootstrap';
/* You can add global styles to this file, and also import other style files */


.navbar {
  background-color: darken($primary, 20);
  z-index: 5
}

h1 {
  color: $primary;
  text-align: center;
  font-family: Consolas, serif;
  padding-bottom: 15px
}

h2 {
  color: $secondary;
  font-family: 'Consolas', serif;
  text-decoration: underline;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  color: $secondary;
  font-size: 20px;
}

p {
  color: rgba(255, 255, 255, 0.7);
  text-align: justify;
}

p.todo {
  background-color: $danger;
}

html, body {
  background-color: $dark;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
