@import 'custom';
@import '~bootstrap/scss/bootstrap';
/* You can add global styles to this file, and also import other style files */

$fontBambusaProRegular: 'Bambusa Pro Regular';
$fontAcherusGrotesqueLight: 'acherus-grotesque-light';

@font-face {
  font-family: $fontAcherusGrotesqueLight;
  src: url(assets/fonts/acherus-grotesque-light.ttf) format("truetype");
}

@font-face {
  font-family: $fontBambusaProRegular;
  src: url('assets/fonts/Bambusa Pro Regular.ttf') format("truetype");
}

.navbar {
  background-color: darken($primary, 20);
  z-index: 5
}

h1 {
  color: $primary;
  text-align: center;
  font-family: $fontBambusaProRegular;
  padding-bottom: 15px;
}

h2 {
  color: $primary;
  font-family: $fontBambusaProRegular;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  font-family: $fontAcherusGrotesqueLight;
  color: rgba(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
}

h4 {
  font-family: $fontAcherusGrotesqueLight;
  color: $secondary;
  font-size: 20px;
}

p {
  font-family: $fontAcherusGrotesqueLight;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.7);
  text-align: justify;
}

p.todo {
  background-color: $danger;
}

html, body {
  background-color: $white;
  height: 100%;
  font-family: $fontAcherusGrotesqueLight;
  box-sizing: border-box;
}



img.img-zoomable {
  transition:transform 0.25s ease;
  width: 100%;
}

img.img-zoomable:hover {
  -webkit-transform:scale(1.05);
  transform:scale(1.05);
}


.carousel-caption{
 background: rgba(0, 0, 0, 0.5);
  padding-bottom: 30px;
  left: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 992px) {
  h1{
    font-size:8vw;
  }
  h2{
    font-size:7vw;
  }
}
