<div class="container">
  <h1 [translate]="'s5_header'">Tracht & Uniform</h1>

  <h2 [translate]="'s5_sh1'">traditionsreich</h2>
  <div class="row">
    <div class="col-lg-8">
      <p [translate]="'s5_sh1_p1'">
        Ab dem ersten belegten Auftritt der neu gegründeten Kapelle 1821 treten die Musikanten bei unterschiedlichen Anlässen auf.
        Hervorzuheben sind Aufmärsche mit den Schützen, beispielsweise 1825 zu Ehren des Besuchs des Kronprinzen Ferdinand in Landro,
        Auftritte bei Tanzveranstaltungen und Sommerkonzerten oder in anderen Dörfern, welche selber keine Musikkapelle haben.
        Welche Kleidung dabei getragen wird, ist nur teilweise in der Chronik belegt.
      </p>

      <h3 [translate]="'s5_sh1_1'">Von der Zillertaler Tracht zur authentischen Toblacher Tracht</h3>
      <p [translate]="'s5_sh1_1_p1'">
        Auf Initiative von Kapellmeister Josef Walch wird 1886 eine neue, nämlich die „Zillertaler Tracht” für die Musikkapelle
        angekauft. Die neue Tracht sorgt jedoch öfters für Verwechslungen, da die Musikanten für Zillertaler gehalten werden.
        Daher sind Kapellmeister Sebastian Baur und ein eigens gegründetes Komitee bestrebt, eine authentische Toblacher Tracht
        einzuführen, welche der ortstypischen Festtagstracht nachempfunden ist. Sie ersetzt die Zillertaler Tracht ab dem
        Fronleichnamstag 1907. 1960 werden die heute dazu getragenen Schuhe mit Federkielstickerei eingeführt.
      </p>
    </div>
    <div class="col-lg-4">
      <ngb-carousel [interval]="5000" [pauseOnHover]="true">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/images/stage5/IMG_0425.JPG" class="w-100">
          </div>
          <div class="carousel-caption">
            <h4 [translate]="'s5_sh2_img1'">Detail Frauenjoppe Rücken</h4>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/images/stage5/IMG_0403.JPG" class="w-100">
          </div>
          <div class="carousel-caption">
            <h4 [translate]="'s5_sh2_img2'">Frauentracht mit blauem Mieder</h4>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/images/stage5/IMG_0471.JPG" class="w-100">
          </div>
          <div class="carousel-caption">
            <h4 [translate]="'s5_sh2_img3'">Typisches rotes „Leibl“ seitlich geschlossen</h4>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/images/stage5/IMG_0496.JPG" class="w-100">
          </div>
          <div class="carousel-caption">
            <h4 [translate]="'s5_sh2_img4'">Beinkleider Männertracht</h4>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <h3 [translate]="'s5_sh1_2'">Die Uniform</h3>
  <p [translate]="'s5_sh1_2_p1'">
    Neben der Tracht hat die Musikkapelle Toblach auch eine Uniform, Montur genannt. Der Ursprung dieser Uniform geht auf
    den braunen Schützenrock der Schützengilden (Sportschützen) zurück, welche mit der Einführung der allgemeinen Wehrpflicht
    im Habsburgerreich als „Zweitgarnitur” zusätzlich zur Festtagstracht in Verwendung kommt. Diese Uniform, bestehend aus
    Hut und Rock, ist erstmals 1926 auf einem Foto abgebildet.
  </p>

  <h3 [translate]="'s5_sh1_3'">Uniform und Tracht im 20. Jahrhundert</h3>
  <p [translate]="'s5_sh1_3_p1'">
    Nach dem Ende des Ersten Weltkriegs und dem damit einhergehenden Einbruch der Tourismusbranche rückt 1923 „beim festlichen
    Einzug und der feierlichen Einweihung der neuen Glocken [...] unsere Musik wieder in Nationaltracht aus (diesmal in
    Schützentracht)”. (Alte Musikchronik, Bd. 1, 1921/22)
  </p>
  <p [translate]="'s5_sh1_3_p2'">
    In der folgenden Zeit des aufkommenden Faschismus wird der Kapelle das Auftreten in Tracht vom italienischen Podestá
    (Bürgermeister) strengstens untersagt. Die Uniform darf getragen werden, allerdings ohne Adlerflaumfeder am Hut.
    Zeitweise wird auch diese verboten, sodass die Musikanten in Zivilkleidung auftreten. Nach dem Krieg normalisiert sich
    die Lage für die Kapelle und in der Vollversammlung am 3. September 1947 einigen sich „nach längerer Debatte [...]
    die Musikmitglieder und versprachen ihr Möglichstes zu tun, um die Musik wieder weiter zu erhalten”.
    (Alte Musikchronik, Bd. 1, 3.9.1947) Dazu gehört auch die Reparatur und der Ankauf nötiger Trachten und Monturen.
    Dies gelingt, denn im, Jahre 1948 am 19.9. in der Bozner Messe, erhielt die Toblacher Musikkapelle für ihre schöne Tracht
    den 3ten Preis (5000 Lire)“. (Alte Musikchronik, Bd. 1, 19.9.1948)
  </p>
  <p [translate]="'s5_sh1_3_p3'">
    Heute spielt die Musikkapelle zu besonderen Anlässen in festlichem Schwarz. Dies verdeutlicht die Orientierung an großen
    Sinfonieorchestern, jedoch keine Abwendung von der traditionellen Marschmusik.
  </p>

  <h2 [translate]="'s5_sh2'">angezogen</h2>
  <p [translate]="'s5_sh2_p1'">
    Gruppen definieren ihre Zusammengehörigkeit oft durch ihre Kleidung - so auch die Musikkapelle Toblach. Bereits in der
    Bläserklasse und Jugendkapelle treten die jungen Musikant*innen in einheitlichem Outfit auf. Eine Besonderheit gibt es
    in Toblach aber schon: Neben der Festtagstracht steht – gleichberechtigt - die genannte Uniform.
  </p>

  <h3 [translate]="'s5_sh2_1'">Tracht oder Uniform oder beides?</h3>
  <p [translate]="'s5_sh2_1_p1'">
    Viele Musikkapellen haben zwei oder mehr Gewänder für die offiziellen Anlässe. Grundsätzlich ist die Festtagstracht jedoch
    das wichtigste. Toblach geht da einen anderen Weg. Die Tracht wird verhältnismäßig wenig getragen, die meisten Auftritte
    werden in der Uniform absolviert. Warum? Trachten sind in Anschaffung und Pflege teuer und aufwändig. Gebraucht man sie
    weniger, werden sie geschont, gleichzeitig wird ihr Wert gesteigert, weil sie ja selten getragen werden.
  </p>
  <p [translate]="'s5_sh2_1_p2'">
    Wann tragen die Toblacher*innen ihre Tracht? Die Geschäftsordnung legt die verschiedenen Bereiche genau fest. Zeit für die
    Tracht ist beim Festkonzert. Anlässe wie Prozessionen, Erstkommunion oder Firmung, Ausrückungen außerhalb des Gemeindegebietes
    und das Konzert beim jährlichen Sommerfest rund um den 15. August werden in Tracht absolviert. Bei Ausrückungen zu Floriani
    oder um Allerheiligen, Spielen bei der Gedenkfeier für die Gefallenen des 1. Weltkrieges im Kriegerfriedhof „Naßwand“ oder
    Auftritten bei den Sommerkonzerten in Toblach heißt es „Bühne frei für die Uniform“!
  </p>

  <h3 [translate]="'s5_sh2_2'">Gleich oder verschieden?</h3>
  <p [translate]="'s5_sh2_2_p1'">
    Während die Musikkapelle in ihrer Festtagstracht als bunter Haufen daherkommt – Frauen- und Männertrachten sind völlig
    verschieden –, ist sie in Uniform eine homogene Formation, die durchaus eine gewisse Ästhetik hat. Mann und Frau stecken
    einheitlich in „Hut und Rock“ und tragen dazu eine braune Hose und der Jahreszeit entsprechende schwarze Schuhe.
  </p>

  <h3 [translate]="'s5_sh2_3'">Wie trägt Mann/Frau Tracht?</h3>
  <p [translate]="'s5_sh2_2_p2'">
    Beim Tragen der Tracht bzw. Uniform kann man nicht viel falsch machen. Glaubt der Laie. Wie die Uniform und die Festtagstracht
    getragen werden müssen, ist eine Wissenschaft für sich. In Toblach gibt es dafür eine schriftliche Anleitung, die für Mann und
    Frau gleichermaßen strikt ist. Kein auffälliger Schmuck, keine Schminke und kein Nagellack sind selbstverständlich, sehr streng
    aber die Anweisung, dass kein loses Haar die Tracht berühren soll.
  </p>

  <h2 [translate]="'s5_sh3'">repräsentativ</h2>
  <p [translate]="'s5_sh3_p1'">
    Seit Ende des 18. Jahrhunderts ist das Pustertal und damit auch Toblach Ziel vieler Reisender. Diese wollen sich nicht nur erholen,
    sondern auch unterhalten werden. Für die Musikkapelle entsteht ein neues Aufgabenfeld: „Fremdenkonzerte” im Dorfzentrum, im Pavillon
    des Grand Hotels und an vielen verschiedenen Orten im gesamten Pustertal gehören fortan zum Alltagsgeschäft der jungen Kapelle.
    Diese sind, von der Umrahmung kirchlicher Feiern abgesehen, bis in die späten 1940er Jahre die Hauptaufgabe der Kapelle. In den unruhigen
    Zeiten der beiden Weltkriege können nur noch die allernötigsten Auftritte in Minimalbesetzung durchgeführt werden. Ab 1947 werden
    Tanzabende, Bälle und Feste für die Gäste in Eigenregie organisiert. Die nach dem Krieg wieder erstarkte Musikkapelle beteiligt sich
    an Auslandsfahrten zu Werbezwecken und repräsentiert das Dorf im In- und Ausland.
  </p>

  <h2 [translate]="'s5_sh4'">werbewirksam</h2>
  <div>
    <p [translate]="'s5_sh4_p1'">
      Große Werbereisen wie z. B. die einer kleinen Gruppe 1955 durch Deutschland oder der ganzen Kapelle 1976 durch Belgien gibt es
      heutzutage nicht mehr. Bilder der Musikkapelle zieren aber weiterhin Werbematerialien und die Website des Tourismusvereins.
      Auch die feierliche Umrahmung der Übergabe von Christbäumen, z.B. 1986 im Vatikan an den Papst oder 2015 in Landshut, gehören
      zu den repräsentativen Aufgaben der Kapelle.
    </p>
    <app-image-view src="assets/images/stage5/papst.png" caption="{{translation.get('s5_img1_caption') | async}}"></app-image-view>
  </div>

  <h2 [translate]="'s5_sh5'">gastfreundlich</h2>
  <p [translate]="'s5_sh5_p1'">
    Die Sommerkonzerte am Pavillon und an verschiedenen Orten im Dorf ziehen Einheimische und Gäste gleichermaßen an. Die Tatsache,
    dass die heute noch vorgesehenen „Ehrungen für treue Gäste” ab 1966 zuerst von der Musikkapelle und erst ab 1975 vom Präsidenten des
    Kulturvereins (Tourismusverein) durchgeführt werden, zeigt die enge Verbundenheit der Kapelle mit dem touristischen Geschehen im Dorf.
    Die Musikkapelle schreibt um 1965 sogar einen Wanderführer, den sie an die Gäste verkauft.
  </p>
  <app-image-view src="assets/images/stage5/Ständchen Hotel Ploner.JPG" caption="{{translation.get('s5_img2_caption') | async}}"></app-image-view>

</div>
