<nav ngbNav [activeId]="router.url" class="navbar navbar-expand-lg navbar-dark fixed-top shadow" style="">
  <a class="navbar-brand" [routerLink]="''" [translate]="'webpage_title'">Musikmeile Toblach</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbarCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [ngbNavItem]="'/'+ link.fragment" *ngFor="let link of links">
        <a ngbNavLink [routerLink]="link.fragment" (click)="toggleNavbarCollapsed()">{{ link.title }}</a>
      </li>
    </ul>
  </div>
</nav>
<div style="padding-top: 100px">
  <router-outlet ></router-outlet>
</div>
