<div class="container">
  <h5>Verantwortlich für den Inhalt dieser Webseite:</h5>
  <h6>Musikkapelle Toblach</h6>
  <h6>Schulplatz 1</h6>
  <h6>39034 Toblach (BZ) – Italien</h6>
  <h6>E-Mail: info AT musikkapelle-toblach.com</h6>
  <h6>Websites/Domains: https://musikmeile.musikkapelle-toblach.com</h6>
  <h6>MwSt.-Nr.: 81011570215</h6>

  <h5>Copyright</h5>

  <p>Der gesamte Inhalt dieser Internetseite inklusive aller Bilder und Texte ist durch das Urheberrecht geschützt und
    Eigentum des jeweiligen Autors. Die Reproduktion der Inhalte ist unabhängig vom verwendeten Medium verboten, außer
    durch schriftliche Genehmigung durch den jeweiligen Autor.</p>

  <h5>Haftungshinweis</h5>

  <p>Diese Website enthält Links auf Websites von Dritten. Trotz sorgfältiger inhaltlicher Kontrolle wird keinerlei
    Haftung für den Inhalt der verlinkten Websites übernommen. Die Verantwortung und Haftung für deren Inhalt und
    Gestaltung liegt ausschließlich bei den jeweiligen Betreibern.</p>


  <h5>Datenschutz</h5>

  <p>Im Sinne des Art. 13 des Gesetzesvertretenden Dekrets Nr. 196 vom 30. Juni 2003 und nachfolgende Änderungen und
    Ergänzungen informieren wir darüber, dass alle Daten, welche Sie über unseren Internetauftritt bzw. über andere Wege
    (e-Mail, Post) an uns senden, gesammelt und gespeichert werden. Wir garantieren im Rahmen der gesetzlichen Vorgaben,
    dass die Verarbeitung der persönlichen Daten unter Berücksichtigung der grundlegenden Rechte und Freiheiten sowie
    der Würde des Betroffenen mit besonderem Bezug auf die Geheimhaltung, die persönliche Identität und das Recht auf
    Schutz der persönlichen Daten erfolgt.

    Die von uns verarbeiteten persönlichen Daten unterliegen keiner Verbreitung.

    Das Datenschutzgesetz verleiht dem Betroffenen gemäß Art. 7 das Recht, seine Daten zu bestätigen und zu
    kontrollieren, zu berichtigen und zu ergänzen, zu beantragen, dass die Daten gelöscht, gesperrt und in anonyme Daten
    umgewandelt werden, falls die Verarbeitung gegen die gesetzlichen Bestimmungen verstößt. Er hat das Recht sich aus
    gerechtfertigten Grund gänzlich oder zum Teil der Verarbeitung seiner Daten zu widersetzen, sowie ihre Löschung,
    Sperrung, Umwandlung in anonyme Daten zu verlangen und ohne gerechtfertigtem Grund, wenn Daten zum Zwecke der
    Handelsinformation, des Versands von Werbematerial, des Direktverkaufs, zu Markt und Meinungsforschung verwendet
    werden.
  </p>

  <h5>Cookies:</h5>
  <p>Dies Webseite verwendet keine Cookies.</p>

  <h5>SSL- Verschlüsselung:</h5>

  <p>Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel
    der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung
    erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem
    Schloss-Symbol in Ihrer Browserzeile.

    Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten
    mitgelesen werden.</p>

  <h5 class="mb-3">Entwicklung und Realisierung</h5>
  <h6>Michael Mairegger</h6>
  <a href="https://www.michaelmairegger.it">www.michaelmairegger.it</a>
</div>
