<div class="container">
  <div class="row mb-3">

    <div class="col-lg-6">
      <h5>Mit freundlicher Unterstütung von</h5>
      <ul class="mrg-list-unstyled">
        <li>
          <a class="nav-link text-muted" href="https://inox.it" role="button">Inoxstahlbau GmbH</a>
        </li>
        <li>
          <a class="nav-link text-muted" href="https://www.pellegrini.bz.it" role="button">Pellegrini - Potenzial Stahl</a>
        </li>
        <li>
          <a class="nav-link text-muted" href="https://www.baur-steinwandter.it" role="button">Baur &amp; Steinwandter</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-6">
      <h5>Links</h5>
      <ul class="mrg-list-unstyled">
        <li>
          <a class="nav-link text-muted" [routerLink]="['imprint']" role="button">Impressum</a>
        </li>
      </ul>
    </div>
  </div>
</div>
